/* Header */
.prdHdr{
    color:white;
    width:calc(100vw - 25px);
    padding: 10px 20px;
    background-color: var(--blk);
    display: flex;
    flex-direction: column;
    margin: 5px 5px 0 5px;
    border-radius: 10px;
}
.hdrT{
    display:flex;
    justify-content: space-between;
    width:100%;
}
.hdrB{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top:10px;
}
.L,.R{
    display: flex;
    align-items: center;
}
.page-title{margin: 0 10px 5px 0 !important;}
.woocommerce-breadcrumb,.woocommerce-breadcrumb a{
    color:var(--bl) !important;
    margin-bottom: 0 !important;
}
.RsltCnt,.woocommerce-ordering{margin: 0 10px 0 0 !important;}
.RsltCnt{color:var(--orng);}
.woocommerce-ordering select{
    background-color: var(--prpl);
    color:white;
    padding: 5px;
    border:none;
    border-radius: 5px;
}
.woocommerce-ordering select:focus{
    outline: none;
}
/* Loop */
.loopDiv{
    display: flex;
    flex-wrap: wrap;
    margin:2.5px;
}
.loopItm{
    margin:2.5px;
    width:calc(25% - 5px);
    background-size: cover;
    overflow: hidden;
    height: 300px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    background-color: var(--blk);
    border-radius: 10px;
    color:white;
    background-position: center;
}
.loopItmCon{
    grid-column: 1/2;
    grid-row:1/2;
    width: 100%;
    height:100%;
    z-index:2;
}
.loopItm a{
    background-color: rgba(21,18,11,0.5);
    padding:20px;
    width:100%;
    height:100%;
    transition:500ms ease;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: 1px 1px 5px var(--blk);
}
.loopItm a:hover{background-color: rgba(21,18,11,0);}
.Dis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.oldPrc{
    text-decoration: line-through;
}
.newPrc{
    font-weight: bold;
}

/* Sale Flash */
.slFlshS{
    margin: 5px 5px 0 0;
    z-index: 1;
    border-radius: 0 5px 0;
    overflow: hidden;
    height: 100px;
    width: 100px;
    grid-column: 1/2;
    grid-row:1/2;
    place-self: start end;
}
.slFlshS div{
    background-color: var(--rd);
    transform: rotate(45deg);
    padding: 15px 20px 2px 20px;
    position: relative;
    top: -10px;
    width: 160px;
    font-weight: bold;
    font-size: 18px;
}
