/* Top Grid */
#topGrid{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: auto repeat(3,1fr) 100px;
    grid-gap: 5px;
    gap:5px;
    width: calc(100vw - 15px);
    height: 100vh;
    padding:5px;
}

.topGridi{
    background-color: var(--blk);
    color:white;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
}
.GiCont{
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:5px;
    transition: 1s ease;
}
.GiCont h1{
    padding: 0 5px;
    font-size: 20px;
}
.GiDis{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    width:100%;
    overflow: hidden;
    transition: 1s ease;
}
.Dis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Gi1{grid-column: 1/2; grid-row:1/3; z-index:2}
.Gi2{grid-column: 1/2; grid-row:3/6; z-index:2}
.Gi3{grid-column: 2/3; grid-row:2/5; z-index:2}
.Gi4{grid-column: 3/4; grid-row:2/5; z-index:2}
.Gi5{grid-column: 4/5; grid-row:1/3; z-index:2}
.Gi6{grid-column: 4/5; grid-row:3/6; z-index:2}

.GBck1{grid-column: 1/2; grid-row:1/3;}
.GBck2{grid-column: 1/2; grid-row:3/6;}
.GBck3{grid-column: 2/3; grid-row:2/5;}
.GBck4{grid-column: 3/4; grid-row:2/5;}
.GBck5{grid-column: 4/5; grid-row:1/3;}
.GBck6{grid-column: 4/5; grid-row:3/6;}

.GBck{z-index:1; background-color: var(--blk); border-radius: 10px;}

.Gi1 .GiDis{background-color: var(--orng);}
.Gi2 .GiDis{background-color: var(--rd);}
.Gi3 .GiDis{background-color: var(--prpl);}
.Gi4 .GiDis{background-color: var(--bl);}
.Gi5 .GiDis{background-color: var(--orng);}
.Gi6 .GiDis{background-color: var(--rd);}

#GB{
    grid-column: 2/4; grid-row:5/6;
    padding:5px;
    z-index: 2;
}
#GB h2{margin: 0;}
#GB a{
    width:100%;
    height:100%;
    padding: 20px;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 500ms ease;
}
#GB a:hover{
    background-color: var(--prpl);
}
#GH{
    grid-column: 2/4; grid-row:1/2;
    padding: 10px 20px;
    display: block;
}

#logoTG{
    width:auto;
    height:70px;
    margin-bottom: 10px;
}

/* Products */
.oldPrc{
    text-decoration: line-through;
    font-weight: lighter;
}
.newPrc{
    font-weight: bold;
}
.Prd{transition: 750ms ease;}

#mnSrchG{
    display: flex;
    flex-wrap: wrap;
}
#mnSrchG,#mnSrchG form{
    justify-content: center;
    align-items:center;
}
#mnSrchG div{
    margin:0;
    padding:0;}
#mnSrchG li{
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 18px;
}
#mnSrchG ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    justify-content: center;
}
#mnSrchG a{
    color: var(--orng);
    animation: clrs 20s -2s linear infinite;
    transition: 500ms ease;
    position: relative;
    bottom:0px;
}
/* Tablet */
@media screen and (max-width:900px) and (min-width:601px){
    #topGrid{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 1fr 1fr auto;
        width:calc(100vw - 5px)
    }
    #GH{grid-column: 1/3; grid-row:1/2;}

    .Gi1{grid-column: 1/2; grid-row:2/3;}
    .Gi2{grid-column: 1/2; grid-row:3/4;}
    .Gi3{grid-column: 2/3; grid-row:2/3;}
    .Gi4{grid-column: 2/3; grid-row:3/4;}

    .GBck1{grid-column: 1/2; grid-row:2/3;}
    .GBck2{grid-column: 1/2; grid-row:3/4;}
    .GBck3{grid-column: 2/3; grid-row:2/3;}
    .GBck4{grid-column: 2/3; grid-row:3/4;}

    #GB{grid-column: 1/3; grid-row:4/5;}
}
@media screen and (max-width:600px){
    #topGrid{
        grid-template-columns: calc(100vw - 10px);
        grid-template-rows: auto 1fr auto;
    }
    #GH{grid-column: 1/2; grid-row:1/2;}

    .Gi1{grid-column: 1/2; grid-row:2/3;}

    .GBck1{grid-column: 1/2; grid-row:2/3;}

    #GB{grid-column: 1/2; grid-row:3/4;}
}
