:root{
    /*colors*/
    --prpl:#872d51;
    --rd:#e15369;
    --orng:#ef887a;
    --bl:#9796cf;
    --blk:#15120b;
}
*{box-sizing: border-box;}
body{
    font-family: 'Mukta' , fallback, Helvetica, sans-serif;
    margin:0;
    width:100vw;
    overflow-x: hidden;
    padding:2.5px 10px;
}
.trns1{
    transition:1s ease;
}
/* Text */
p,h1{
    line-height: 1.2em;
    margin-block-start: 10px;
    margin-block-end: 10px;
}
/* Divs */
.Div{
    padding:20px;
    border-radius: 10px !important;
    background-color: var(--blk);
    color:white;
    flex: 1 1 auto;
    margin: 5px 2.5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WH100{
    width:100%;
    height: 100%;
}
.cntr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hid{
    opacity:0 !important;
    display:none !important;
}
button{
    transition: 500ms ease;
    cursor: pointer;
    border:none;
}
.Btn{
    padding:10px;
    font-weight: bold;
    border-radius:10px;
}
@font-face {
    font-family: 'PoorRichard';
    src: url("./fonts/poorRichard.ttf") format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

a{
    text-decoration: none;
    color:unset;
    transition: 500ms ease;
}
p{
    margin-block-start: 10px;
    margin-block-end: 0;
}
h2,h3{
    margin-block-start: 0;
    margin-block-end: 0;
}

input[type=text]{
    border-style: none;
    outline:none;
    font-family: 'Mukta' , fallback, Helvetica, sans-serif;
}
#bckgr{
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    width:100vw;
    height:100%;
    background: linear-gradient(#EF887E,#e15369,#872d51,#9796CD ,#EF887E,#e15369,#872d51,#9796CD);
    background-size: 100% 400%;
    background-position-y: 0%;
    animation: bckclr linear 20s infinite;
}
@keyframes bckclr{
    0%{background-position-y: 0%;}
    100%{background-position-y: 75%;}
}

.orng{color:var(--orng);}
.bl{color:var(--bl);}
.whtHvr:hover{color:white;}

/* Header */
header{
    padding: 10px 20px;
    background-color: var(--blk);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2.5px;
    border-radius: 10px;
    flex-wrap: wrap;
    width:calc(100% - 10px);
}
header h1{
    color:white;
    width:100%;
    font-size: 24px;
    font-weight: bold;
}
#mnSrch{
    display: flex;
    flex-wrap: wrap;
}
#mnSrch,#mnSrch form{
    justify-content: end;
    align-items:center;
}
#mnSrch div{
    margin:0;
    padding:0;}
#mnSrch li{
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 18px;
}
#mnSrch ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    list-style:none;
}
#mnSrch a{
    color: var(--orng);
    animation: clrs 20s -2s linear infinite;
    transition: 500ms ease;
    position: relative;
    bottom:0px;
}
@keyframes clrs {
    0%{color:#EF887E; border-color:#EF887E }
    25%{color:#e15369; border-color:#e15369}
    50%{color:#872d51; border-color:#872d51}
    75%{color:#9796CD; border-color:#9796CD}
    100%{color:#EF887E; border-color:#EF887E}
}
#mnSrch a:hover{bottom:3px;}

.current-menu-item,.current_page_item{text-decoration: overline;}

#s{
    background: transparent;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-color: var(--orng);
    color: var(--orng);
    font-size: 16px;
    padding: 3px 0;
    line-height: 1.2em;
    animation: clrs 20s -1s linear infinite;
}
#s:focus,#s:hover{border-bottom-width: 2px;}
#srchBtn{
    background-color: transparent;
    border: none;
    position: relative;
    bottom:0px;
    outline:none;
    transition: 500ms ease;
}
#srchBtn:hover{bottom:3px;}
#srchSVG{
    height: 18px;
    width: auto;
    padding-top: 5px;
    animation: fll 20s -1s linear infinite;
}
@keyframes fll {
    0%{fill:#EF887E}
    25%{fill:#e15369}
    50%{fill:#872d51}
    75%{fill:#9796CD}
    100%{fill:#EF887E}
}

/* Messages */
.SucsMsg{color:var(--orng) !important}
.SucsMsg a{
    background-color: var(--orng) !important;
    color:var(--blk) !important;
    border-radius: 5px !important;
    margin-right:10px !important;
    transition: 500ms ease;
}
.SucsMsg a:hover{background-color: var(--rd) !important;}
.ErrMsg{
    color:var(--rd) !important;
    list-style: none;
}
.ErrMsg a{
    background-color: var(--rd) !important;
    color:white !important;
    border-radius: 5px !important;
    margin-right:10px !important;
    transition: 500ms ease;
}
.ErrMsg a:hover{background-color: var(--orng) !important;}
.NotMsg{
    color:white;
    display: flex;
}
.NotMsg a{
    color:var(--orng);
    margin-left: 10px;
}
.woocommerce-info{
    padding:10px 20px !important;
    background-color: var(--blk) !important;
    border-radius: 10px !important;
    margin:2.5px !important;
    border-top: unset !important;
    color:white !important;
    display:grid;
    place-content: center;
    flex:3 1 auto;
}
.woocommerce-info:before{
    content:unset !important;
}
.Msg{
    padding:10px 20px;
    background-color: var(--blk);
    border-radius: 10px;
    margin:2.5px;
    border-top: unset !important;
}
/* Buttons */
.OrngBtn{
    background-color: var(--orng);
    color:var(--blk) !important;
}
.OrngBtn:hover{
    background-color: var(--rd);
}
.RdBtn a{
    background-color: var(--rd) !important;
    transition: 500ms ease;
    padding:20px !important;
    border-radius:10px !important;
}
.RdBtn a:hover{
    background-color: var(--orng) !important;
}
.BlBtn{
    background-color: var(--bl);
    color:var(--blk);
}
.BlBtn:hover{
    background-color: white;
}
/* Input */
input::placeholder{
    color:var(--blk);
}
.required{
    color:var(--rd) !important;
}

/* Forms */
.woocommerce input{
    background-color: var(--orng);
    color:var(--blk) ;
    border-radius: 5px ;
    padding:5px 10px ;
    border:unset ;
    width:100%;
    line-height: 1.2em;
}
.woocommerce label{color:var(--orng);}
.select2-selection__rendered,.select2-selection.select2-container,.select2-dropdown{
    background-color: var(--orng) !important;
    color:var(--blk) !important;
    border-radius: 5px !important;
    border:unset !important;
}
textarea::placeholder{color:var(--blk);}
.select2-search input{border:unset !important;}
.select2-results__option--highlighted{background-color: var(--bl) !important;}
.select2-container--default .select2-selection--single{
    border:unset !important;
    border-radius: 5px;
}
.select2-selection__arrow b{border-color:var(--blk) transparent transparent transparent !important;}
.woocommerce fieldset{border:solid 1px var(--orng); border-radius: 10px;}
/* Tablet */
@media screen and (max-width:900px) and (min-width:601px){

}
/* Phone */
@media screen and (max-width:600px){
    header,#mnSrch,#mnSrch ul{justify-content: center;}
}
