.LgnFrm{
    flex-direction:column;
    max-width: 300px;
    padding:20px !important;
}
.LgnFrm p{width:100%;}
.woocommerce{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:80vh;
}
.sbmP{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.MyAccCon span{color:var(--blk) !important;}
#rememberme{width:auto;}
/* Navigation Menu */
#MyAccNav{
    color:var(--orng);
    height:100%;
    max-width: 200px;
}
#MyAccNav ul{padding-inline-start: 20px;}
#MyAccNav li:hover{color:white}
.is-active{color:var(--bl);}
#MyAccCon{flex-direction: column;}
#MyAccCon a{color:var(--bl);}
