/* Single Product */
#SnglPrdG{
    display: grid;
    width:calc(100vw - 20px);
    grid-template-columns: 40% 60%;
    color:white;
    padding:5px;
    grid-gap: 5px;
}
.Gridi{
    background-color: var(--blk);
    color:white;
    border-radius: 10px;
    display: flex;
    width:100% !important;
    height:100%;
}
/* Product Images */
p{
    margin-block-start: 10px;
    margin-block-end: 0;
}
.PrdImgs{
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 1/2;
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
}
.PrdImgs ol{
    border-top: solid 1px var(--blk)!important;
}
.PrdImgsDiv{
    margin-bottom: 0 !important;
    width: auto !important;
}
.slFlsh{
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    height: 100px;
    width: 100px;
}
.slFlsh div{
    background-color: var(--rd);
    transform: rotate(-45deg);
    padding: 30px 20px 5px 20px;
    position: relative;
    top: -10px;
    left: -55px;
    width: 160px;
    font-weight: bold;
    font-size: 20px;
    z-index: 10;
}
/*Product Summary*/
.Smr{
    grid-row: 1/2;
    grid-column: 2/3;
    flex-direction: column;
    padding:20px;
    margin-bottom: 0 !important;
}
.woocommerce-breadcrumb, .woocommerce-breadcrumb a{
    color: var(--bl) !important;
}
.woocommerce-breadcrumb{
    margin:0 !important;
}
.Prc{
    color: var(--orng);
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    font-size: 22px;
    font-weight: 600;
}
.Prc del{
    color: var(--prpl)
}
.Prc ins{
    text-decoration: none;
}

.tagged_as{
    margin-left:10px;
}

.product_meta{
    color: var(--prpl);
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    margin-top:10px;
}
.PrdTtl{
    margin: 5px 0 !important;
}
.Crt{
    display: grid;
    grid-template-columns: 50px auto;
}
.CrtBut1, .CrtButMn,.Crt input{
    background-color: var(--rd);
    border:none;
    color: white;
    height:30px;
}
.Crt input{
    border-radius:5px 0 0 5px;
}
.CrtButMn{
    grid-column: 2/3;
    border-radius: 0 5px 5px 0;
    margin-left: 2px;
}
.CrtBut1{
    grid-column: 1/3;
    border-radius: 5px;
}
.CrtButMn,.CrtBut1{
    text-transform: uppercase;
    cursor: pointer;
    transition: 500ms ease;
}
.CrtBut1:hover,.CrtButMn:hover{
    background-color: var(--orng);
}
.stck.in-stock{
    color:var(--bl);
    margin-top: 0 !important;
    display: flex;
    align-items: center;
}
.shrtDis{
    display: grid;
    font-weight: 100;
    margin-bottom: 10px;
}
.shrtDis div{grid-column: 1/2; padding-right: 5px;}
.shrtDis p{text-align: justify;}
.shrtDis svg{grid-column: 2/3;}

.stckAddCrt{
    display: grid;
    grid-template-columns: 85px auto;
}
