/* Single Product */
#SnglPrdG{
    display: grid;
    width:calc(100vw - 20px);
    grid-template-columns: 40% 60%;
    color:white;
    padding:5px;
    grid-gap: 5px;
}
.Gridi{
    background-color: var(--blk);
    color:white;
    border-radius: 10px;
    display: flex;
    width:100%;
}
.Col1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.Col2{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}
/* General */
p{
    margin-block-start: 10px;
    margin-block-end: 0;
}
h2,h3{
    margin-block-start: 0;
    margin-block-end: 0;
}
/* Product Images */
.PrdImgs{
    flex-direction: column;
    overflow: hidden;
}
.PrdImgs ol{
    border-top: solid 1px var(--blk)!important;
}
.PrdImgsDiv{
    margin-bottom: 0 !important;
    width: auto !important;
}
.slFlsh{
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    height: 100px;
    width: 100px;
}
.slFlsh div{
    background-color: var(--rd);
    transform: rotate(-45deg);
    padding: 30px 20px 5px 20px;
    position: relative;
    top: -10px;
    left: -55px;
    width: 160px;
    font-weight: bold;
    font-size: 20px;
    z-index: 10;
}
/*Product Summary*/
.Smr{
    flex-direction: column;
    padding:20px;
    margin-bottom: 0 !important;
}
.woocommerce-breadcrumb, .woocommerce-breadcrumb a{
    color: var(--bl) !important;
}
.woocommerce-breadcrumb{
    margin:0 !important;
}
.Prc{
    color: var(--orng);
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    font-size: 22px;
    font-weight: 600;
}
.Prc del{
    color: var(--prpl)
}
.Prc ins{
    text-decoration: none;
}

.tagged_as{
    margin-left:10px;
}

.product_meta{
    color: var(--prpl);
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    margin-top:10px;
}
.PrdTtl{
    margin: 5px 0 !important;
}
.Crt{
    display: grid;
    grid-template-columns: 50px auto;
}
.CrtBut1, .CrtButMn,.Crt input{
    background-color: var(--rd);
    border:none;
    color: white;
    height:30px;
}
.Crt input{
    border-radius:5px 0 0 5px;
}
.CrtButMn{
    grid-column: 2/3;
    border-radius: 0 5px 5px 0;
    margin-left: 2px;
}
.CrtBut1{
    grid-column: 1/3;
    border-radius: 5px;
}
.CrtButMn,.CrtBut1{
    text-transform: uppercase;
    cursor: pointer;
    transition: 500ms ease;
}
.CrtBut1:hover,.CrtButMn:hover{
    background-color: var(--orng);
}
.stck.in-stock{
    color:var(--bl);
    margin-top: 0 !important;
    display: flex;
    align-items: center;
    padding-left:10px;
}
.shrtDis{
    display: grid;
    font-weight: 100;
    margin-bottom: 10px;
}
.shrtDis div{grid-column: 1/2; padding-right: 5px;}
.shrtDis p{text-align: justify;}
.shrtDis svg{grid-column: 2/3;}

.stckAddCrt{
    display: grid;
    grid-template-columns: auto 85px;
}
/* Long Discription */
.lngDis{
    grid-column: 2/3;
    grid-row:2/3;
    margin-top:5px;
    flex-direction: column;
    padding:20px;
}
.lngDis h2{color:var(--orng);}
.lngDis p{color:var(--bl);text-align: justify;}
/* Related products */
.RelD ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
}
.RelT{
    padding:10px 20px;
    color:var(--rd);
    margin-top:5px;
}
.RelP{
    margin-top:5px;
    width:calc(50% - 5px);
    background-size: cover;
    overflow: hidden;
    height: 150px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

}
.RelPCon{
    grid-column: 1/2;
    grid-row:1/2;
    width: 100%;
    height:100%;
    z-index:2;
}
.RelP a{
    background-color: rgba(21,18,11,0.5);
    padding:20px;
    width:100%;
    height:100%;
    transition:500ms ease;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.RelP a:hover{background-color: rgba(21,18,11,0);}
.Dis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.oldPrc{
    text-decoration: line-through;
    color:var(--prpl);
}
.newPrc{
    font-weight: bold;
    color:var(--orng);
}
.prc{
    color:var(--orng);
}
.slFlshS{
    margin: 5px 5px 0 0;
    z-index: 1;
    border-radius: 0 5px 0;
    overflow: hidden;
    height: 100px;
    width: 100px;
    grid-column: 1/2;
    grid-row:1/2;
    place-self: start end;
}
.slFlshS div{
    background-color: var(--rd);
    transform: rotate(45deg);
    padding: 15px 20px 2px 20px;
    position: relative;
    top: -10px;
    width: 160px;
    font-weight: bold;
    font-size: 18px;
}
