:root{
    /*colors*/
    --prpl:#872d51;
    --rd:#e15369;
    --orng:#ef887a;
    --bl:#9796cf;
    --blk:#15120b;
}
*{box-sizing: border-box;}
body{
    font-family: 'Mukta' , fallback, Helvetica, sans-serif;
    margin:0;
}
.trns1{
    transition:1s ease;
}
/* Text */
p,h1{
    line-height: 1.2em;
    margin-block-start: 10px;
    margin-block-end: 10px;
}
/* Divs */
.WH100{
    width:100%;
    height: 100%;
}
.cntr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hid{
    opacity:0 !important;
    display:none !important;
}

@font-face {
    font-family: 'PoorRichard';
    src: url("./fonts/poorRichard.ttf") format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

a{
    text-decoration: none;
    color:unset;
}

input[type=text]{
    border-style: none;
    outline:none;
    font-family: 'Mukta' , fallback, Helvetica, sans-serif;
}
#bckgr{
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    width:100vw;
    height:100vh;
    background: linear-gradient(#EF887E,#e15369,#872d51,#9796CD ,#EF887E,#e15369,#872d51,#9796CD);
    background-size: 100% 400%;
    background-position-y: 0%;
    animation: bckclr linear 20s infinite;
}
@keyframes bckclr{
    0%{background-position-y: 0%;}
    100%{background-position-y: 75%;}
}

/* Header */
header{
    position: fixed;
    top:0;
    z-index: 999;
    width:100vw;
    padding: 10px 20px;
    background-color: var(--blk);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mnSrch,#mnSrch form{
    display:flex;
    justify-content: end;
    align-items:center;
}
#mnSrch form{margin-left: 10px;}
#menu-primary{
    margin:0;
    padding:0;}
#menu-primary li{
    display: inline;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 20px;
}
#menu-primary a{
    color: var(--orng);
    animation: clrs 20s -2s linear infinite;
    transition: 500ms ease;
    position: relative;
    bottom:0px;
}
@keyframes clrs {
    0%{color:#EF887E; border-color:#EF887E }
    25%{color:#e15369; border-color:#e15369}
    50%{color:#872d51; border-color:#872d51}
    75%{color:#9796CD; border-color:#9796CD}
    100%{color:#EF887E; border-color:#EF887E}
}
#menu-primary a:hover{bottom:3px;}

.current-menu-item{text-decoration: overline;}

#s{
    background: transparent;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-color: var(--orng);
    color: var(--orng);
    font-size: 16px;
    padding: 3px 0;
    line-height: 1.2em;
    animation: clrs 20s -1s linear infinite;
}
#s:focus,#s:hover{border-bottom-width: 2px;}
#srchBtn{
    background-color: transparent;
    border: none;
    position: relative;
    bottom:0px;
    outline:none;
    transition: 500ms ease;
}
#srchBtn:hover{bottom:3px;}
#srchSVG{
    height: 18px;
    width: auto;
    padding-top: 5px;
    animation: fll 20s -1s linear infinite;
}
@keyframes fll {
    0%{fill:#EF887E}
    25%{fill:#e15369}
    50%{fill:#872d51}
    75%{fill:#9796CD}
    100%{fill:#EF887E}
}

/* Top Grid */
#topGrid{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(5,20%);
    grid-gap: 5px;
    width: calc(100vw - 15px);
    height: calc(100vh - 20px);
    padding:5px;
}

.topGridi{
    background-color: var(--blk);
    color:white;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
}
.GiCont{
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:5px;
    width: 100%;
    transition: 1s ease;
}
.GiCont h1{
    padding: 0 5px;
    font-size: 20px;
}
.GiDis{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    width:100%;
    overflow: hidden;
    transition: 1s ease;
}
.Dis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Gi1{grid-column: 1/2; grid-row:3/6; z-index:2}
.Gi2{grid-column: 2/3; grid-row:1/4; z-index:2}
.Gi3{grid-column: 2/3; grid-row:4/6; z-index:2}
.Gi4{grid-column: 3/4; grid-row:1/3; z-index:2}
.Gi5{grid-column: 3/4; grid-row:3/6; z-index:2}
.Gi6{grid-column: 4/5; grid-row:1/4; z-index:2}

.GBck1{grid-column: 1/2; grid-row:3/6;}
.GBck2{grid-column: 2/3; grid-row:1/4;}
.GBck3{grid-column: 2/3; grid-row:4/6;}
.GBck4{grid-column: 3/4; grid-row:1/3;}
.GBck5{grid-column: 3/4; grid-row:3/6;}
.GBck6{grid-column: 4/5; grid-row:1/4;}

.GBck{z-index:1; background-color: var(--blk); border-radius: 10px;}

.Gi1 .GiDis{background-color: var(--orng);}
.Gi2 .GiDis{background-color: var(--rd);}
.Gi3 .GiDis{background-color: var(--prpl);}
.Gi4 .GiDis{background-color: var(--bl);}
.Gi5 .GiDis{background-color: var(--orng);}
.Gi6 .GiDis{background-color: var(--rd);}

#GB{
    grid-column: 4/5; grid-row:4/6;
    padding: 20px;
    flex-direction: column;
}
#GB h2{margin: 0;}
#GH{
    grid-column: 1/2; grid-row:1/3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

#logoTG{
    width:auto;
    height:auto;
    margin-bottom: 20px;
}

/* Products */
.oldPrc{
    text-decoration: line-through;
    font-weight: lighter;
}
.newPrc{
    font-weight: bold;
}
.Prd{transition: 750ms ease;}

/* Single Product */
.SnglPrdG{
    display: grid;
    width: 100vw;
    height:100vh;
    grid-template-columns: 50% 50%;
    color:white;
    padding:5px;
    grid-gap: 5px;
}
.PrdImgs{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--blk);
}
.PrdImgs ol{
    border-radius: 0 0 10px 10px;
}
.PrdImgsDiv{
    margin-bottom: 0 !important;
    width: calc(50vw - 5px) !important;
    border-radius: inherit;
}
.PrdImgsDiv div{
    border-radius: 10px 10px 0 0;
}
