:root{
    /*colors*/
    --prpl:#872d51;
    --rd:#e15369;
    --orng:#ef887a;
    --bl:#9796cf;
    --blk:#15120b;
}
body{
    background-color: var(--blk);
}

.cntr{
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'PoorRichard';
    src: url("./fonts/poorRichard.ttf") format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

a{
    text-decoration: none;
}

input[type=text]{
    border-style: none;
}

/* Header */
#logoDiv{
    grid-row:1/2;
    grid-column: 1/3;
    width:100%;
    padding: 10px 20px 20px;
}
#menu-primary{
    margin:0;
}
#menu-primary li{
    display: inline;
    text-transform: uppercase;
    font-family: 'Mukta' , fallback, Helvetica, sans-serif;
    margin-right: 10px;
    font-size: 20px;
}
#menu-primary a{
    color: var(--rd);
    transition: 1s ease;
}
#menu-primary a:hover{
    color: var(--orng);
}
header form input[type=text]{
    background: transparent;
    border-bottom: solid 1px var(--rd);
}
