:root{
    /*colors*/
    --prpl:#872d51;
    --rd:#e15369;
    --orng:#ef887a;
    --bl:#9796cf;
    --blk:#15120b;
}
body{
    font-family: 'Mukta' , fallback, Helvetica, sans-serif;
    margin:0;
}

.cntr{
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'PoorRichard';
    src: url("./fonts/poorRichard.ttf") format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

a{
    text-decoration: none;
}

input[type=text]{
    border-style: none;
    font-family: 'Mukta' , fallback, Helvetica, sans-serif;
}
#bckgr{
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    width:100vw;
    height:100vh;
    background: linear-gradient(#EF887E,#e15369,#872d51,#9796CD ,#EF887E,#e15369,#872d51,#9796CD);
    background-size: 100% 400%;
    background-position-y: 0%;
    animation: bckclr linear 20s infinite;
}
@keyframes bckclr{
    0%{background-position-y: 0%;}
    100%{background-position-y: 75%;}
}

/* Header */
header{
    padding: 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blk);
}
#logo{
    height:75px;
    width: auto;
    margin-left: 20px;
}
#logoLink{
    vertical-align: baseline;
}
#mnSrch,#mnSrch form{
    display:flex;
    justify-content: end;
    align-items:center;
}
#mnSrch form{
    margin-left: 10px;
}
#menu-primary{
    margin:0;
}
#menu-primary li{
    display: inline;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 20px;
}
#menu-primary a{
    color: var(--orng);
    animation: clrs 20s linear infinite;
    transition: 500ms ease;
    position: relative;
    bottom:0px;
}
@keyframes clrs {
    0%{color:#EF887E; border-color:#EF887E }
    25%{color:#e15369; border-color:#e15369}
    50%{color:#872d51; border-color:#872d51}
    75%{color:#9796CD; border-color:#9796CD}
    100%{color:#EF887E; border-color:#EF887E}
}
#menu-primary a:hover{
    bottom:3px;
}

.current-menu-item{
    text-decoration: overline;
}

#s{
    background: transparent;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-color: var(--orng);
    color: var(--orng);
    outline:none;
    font-size: 16px;
    padding: 3px 0;
    line-height: 1.2em;
    transition: 1s ease;
    animation: clrs 20s linear infinite;
}
#s:focus,#s:hover{
    border-bottom-width: 2px;
}
#srchBtn{
    background-color: transparent;
    border: none;
    position: relative;
    bottom:0px;
    outline:none;
    transition: 500ms ease;
}
#srchBtn:hover{
    bottom:3px;
}
#srchSVG{
    height: 18px;
    width: auto;
    padding-top: 5px;
    transition: 1s ease;
    animation: fll 20s linear infinite;
}

@keyframes fll {
    0%{fill:#EF887E}
    25%{fill:#e15369}
    50%{fill:#872d51}
    75%{fill:#9796CD}
    100%{fill:#EF887E}
}
