:root{
    /*colors*/
    --prpl:#872d51;
    --rd:#e15369;
    --orng:#ef887a;
    --bl:#9796cf;
    --blk:#15120b;
}
body{
    background-color: var(--orng);
    font-family: 'Mukta' , fallback, Helvetica, sans-serif;
    margin:0;
}

.cntr{
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'PoorRichard';
    src: url("./fonts/poorRichard.ttf") format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

a{
    text-decoration: none;
}

input[type=text]{
    border-style: none;
    font-family: 'Mukta' , fallback, Helvetica, sans-serif;
}

/* Header */
header{
    padding: 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blk);
}
#logo{
    height:75px;
    width: auto;
    margin-left: 20px;
}
#logoLink{
    vertical-align: baseline;
}
#mnSrch,#mnSrch form{
    display:flex;
    justify-content: end;
    align-items:center;
}
#menu-primary{
    margin:0;
}
#menu-primary li{
    display: inline;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 20px;
}
#menu-primary a{
    color: var(--rd);
    transition: 1s ease;
}
#menu-primary a:hover{
    color: white;
}
#s{
    background: transparent;
    border-bottom: solid 1px var(--rd);
    color: var(--rd);
    outline:none;
    font-size: 16px;
    padding: 3px 0;
    line-height: 1.2em;
    transition: 1s ease;
}
#s:focus,#s:hover{
    border-bottom: solid 1px white;
    color:white;
}
#srchBtn{
    background-color: transparent;
    border: none;
}
#srchSVG{
    height: 18px;
    width: auto;
    padding-top: 5px;
    transition: 1s ease;
}
#srchSVG:hover{
    fill:white;
}
